<%- include('layout/header', {title: '微博 - 404', isNav: true}) %>

<div class="container mt-20">
  <div class="row">
    <div class="col-8">
      <h4 class="mb-20 pb-10 border-bottom">404</h4>
      <p>未找到该网页，请<a href="/">返回首页</a></p>
    </div>
  </div>
</div>

<%- include('layout/footer') %>